#previousButton {
    -fx-background-image: url("../img/previous.png");
}

#playButton{
    -fx-background-image: url("../img/play.png");
}

#nextButton{
    -fx-background-image: url("../img/next.png");
}

.button,
.toggle-button {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 80% 80%;
    -fx-background-color: transparent;
}

.button:hover,
.toggle-button:hover,
.toggle-button:selected {
    -fx-opacity: 0.4;
}
